**/test
**/.idea
**/target
*.iml
**/test
**/.idea
**/target
*.iml
**/test
**/.idea
**/target
*.iml
**/test
**/.idea
**/target
*.iml
**/test
**/.idea
**/target
*.iml
**/test
**/.idea
**/target
*.iml
**/test
**/.idea
**/target
*.iml
**/out
